{layout name="common/layout_circle" /}

<section class="container channel  margin-20" > 
    
    <div class="row">
        <div class="col-lg-8 col-xs-12 ">
            <div class="flex-c margin-20">
                    <h1 class="flex-item">
                            {cms:channel name="name" /}
                    </h1>
                    <ol class="flex-c">
                            <!-- S 面包屑导航 -->
                            {cms:breadcrumb id="item"}
                            <li><a href="{$item.url}">{$item.name}</a></li>
                            {/cms:breadcrumb}
                            <!-- E 面包屑导航 -->
                        </ol>
            </div>
            <div class="article-section channel-list">
                <div class="row">
                    <!-- S 栏目列表 -->
                    {cms:channellist id="channel" type="son" typeid="$__CHANNEL__.id"}
                    <div class="col-lg-6 ul-array">
                        <div class="flex-c">
                            <h3 class="title flex-item">{$channel.textlink} </h3>
                            <a href="{$channel.url}">{:__('More')}</a>
                        </div>
                        

                        {cms:arclist id="row" channel="$channel.id" limit="0,1"}
                        <div class="media flex-c">
                            <a href="{$row.url}" class="img-r channel-img">
                                <img class="" src="{$row.image}" alt="64x64" >
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{$row.textlink}</h4>
                                <p>{$row.description|mb_substr=0,40}</p>
                            </div>
                        </div>
                        {/cms:arclist}
                        <ul class="list-unstyled">
                            {cms:arclist id="row" channel="$channel.id" limit="1,5"}
                            <li class="flex-c">
                                <span class="flex-item  ellipsis-line-1">{$row.textlink}</span> 
                                <span class="pull-right">{$row.createtime|date='m-d',###}</span>
                            </li>
                            {/cms:arclist}
                        </ul>
                    </div>
                    {/cms:channellist}
                    <!-- E 栏目列表 -->
                </div>
            </div>
        </div>

        <aside class="col-lg-4 col-xs-0">
            {include file="common/sidebar" /}
        </aside>
    </div>
</section>

{include file="common/script"}
<script type="text/javascript" src="__ADDON__/new/citcle/index.js"></script>