{layout name="common/layout" /}
<link rel="stylesheet" href="__ADDON__/new/goods/good.css" />

<section class="goods-list container margin-20">
    <div class="row">
        <div class="col-lg-9 col-xs-12">
            <div class="flex-c">
                    <h1 class="flex-item">
                            {cms:channel name="name" /}
                    </h1>
                    <ol class="flex-c">
                            <!-- S 面包屑导航 -->
                            {cms:breadcrumb id="item"}
                            <li><a href="{$item.url}">{$item.name}</a></li>
                            {/cms:breadcrumb}
                            <!-- E 面包屑导航 -->
                        </ol>
            </div>
          

            <div class="margin-20">
                <div class="head"></div>
                <div class="tabs-mark-group">
                    <div class="line flex-c">
                        <h5 class="title">所有分类：</h5>
                        <ul class="flex-item flex-c">
                           {cms:pagefilter id="filter" exclude=""}
                            <li class="flex-c">
                                <a href="#" class="h5">{$filter.title}:</a>
                                <div class="ul-array"> 
                                {volist name="$filter.content" id="item"}
                                <span class="{$item.active?'active':''}">
                                    <a class="nav-link" href="{$item.url}">{$item.title}</a></span>
                                {/volist}
                                </div>
                            </li>
                            {/cms:pagefilter}
                        </ul>
                    </div>

                </div>

            </div>

            <div class="margin-20">
                <div class="news-select-type flex-c">

                    <ul class="layui-nav flex-item" lay-filter="news-select-type">
                        <li class="layui-nav-item layui-this">
                            <a href="">全部</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">说说</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">文章</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">话题</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">音乐</a>
                        </li>
                        <span class="layui-nav-bar" style="left: 71px; top: 37px; width: 0px; opacity: 0;"></span>
                    </ul>
                    <form class="flex-c search-form layui-form" action="">
                        <div class="box-searchInput">
                            <input type="text">
                        </div>
                        <button class="button position-a-center">
                            <i class="iconfont icon-sousuokuang "></i>
                        </button>
                    </form>
                </div>
            </div>
            <ul class="row">
                 {cms:pagelist id="item"}
                <li class="list-item col-lg-3 col-md-4 col-xs-6">
                    <a href="{$item.url}" class="">
                        <div class="img-r good-item-img">
                            <img src="{$item.image}" />
                        </div>
                    </a>
                    <div class="item-content">
                        <div class="flex-c">
                            <div class="price flex-item h4">
                                <span>¥</span><strong>239.00</strong>
                            </div>
                            <span class="buy">1200人</span>
                        </div>
                        <span>
                            <a href="{$item.url}" class="h5 ellipsis-line-2"> {$item.title}</a>
                        </span>
                        <div class="flex-c">
                            <h4 class="shop-name flex-item">
                                <a href="#" class="h4">bershka</a></h4>
                            <span class="address">广州</span>
                        </div>
                    </div>
                </li>
                {/cms:pagelist}
            </ul>
            <div  class="margin-20 pager">
                <span class="center">
                        {cms:pageinfo type="full" /}
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-xs-0">

            {include file="common/sidebar"}
        </div>
    </div>

</section>


{include file="common/script"}
<script type="text/javascript" src="__ADDON__/new/goods/good.js"></script>