{layout name="common/layout" /}
<link rel="stylesheet" href="__ADDON__/new/detail/detail.css" />

<section class="news-detail container margin-20">
    <div class="row">
        <div class="news-l col-lg-2 col-xs-0">
            <div class="center">

                <div class="time">
                    <h4 class="n">20{cms:archives name="createtime|date='d',###" /}</h4>
                    <h2 class="y">{cms:archives name="createtime|date='m',###" /}</h2>
                    <h4 class="t">{cms:archives name="createtime|date='t',###" /}</h4>
                </div>
                <div class="img-c head-img ">
                    <img src=" {cms:archives name='avatar' /}" />
                </div>
                <h4 class="name"> {cms:archives name="username" /}
                </h4>
                <div class="list-item-action btn-group">

                    <div class="flex-c-y head"><span>分享</span></div>

                    <span class="share " id="share-2"></span>

                    <div class="comment-btn flex-c-y head"><span>评论</span></div>
                    <div class="center"><i class="iconfont icon-pinglun"></i><span> {cms:archives name="comments" /}个</span></div>
                </div>
            </div>
        </div>
        <div class="news-c col-lg-7 col-xs-12">

            <div class="article">
                <h3 class="title">
                    {cms:archives name="title" /}
                </h3>

                <div class="content">
                    {cms:archives name="content" /}
                </div>
                <div class="content-info">
                    <div class="flex-c">
                        <span class="span-mark"></span>
                        <h5 class="title flex-item">我可能感兴趣的文章</h5>
                        <span class="">换一批</span>
                    </div>
                    <ul class="recommend flex-c">
                        {cms:arclist id="relate" tags="__ARCHIVES__.tags" row="3"}
                        <li class="flex-item">
                            <a class=" img-r" href="{$relate.url}">

                                <img src="{$relate.image}" alt="{$relate.title}">
                            </a>
                            <h5 class="center ellipsis">
                                {$relate.title}
                            </h5>
                        </li>

                        {/cms:arclist}
                    </ul>

                </div>

            </div>

            <div class="comment">
                <div class="comment-head flex-c">
                    <h4 class="flex-item title">评论</h4>
                    <span class="h4 white">
                        {cms:archives name="comments" /}个回答
                    </span>
                </div>
                {include file="common/comment" type="archives" aid="__ARCHIVES__.id"}
            </div>
        </div>

        <div class="news-r col-lg-3 col-xs-0">
            <div class="img-r ad-ment">
                {cms:block name="sidebarad1" /}
            </div>

            {include file="common/sidebar"}

        </div>

    </div>
</section>

{include file="common/script"}
<script type="text/javascript" src="__ADDON__/new/detail/detail.js"></script>