
<div class="layui-tab commentlistpanel">

    <ul class="layui-tab-title">
        <li class="layui-this">按热度</li>
        <li>按时间</li>
        <span class="order right ">
        排序
        </span>
    </ul>

    <div class="layui-tab-content">
        <div class="flex comment-reply">
            <div class="img-c  news-array-img"><img src="../../../img/hua.png"></div>
            <form class="layui-form flex-item " action="">
                <div class="layui-form-item layui-form-text flex">
                    <textarea placeholder="请输入内容" class="layui-textarea edit-text"></textarea>
                </div>
                <div class=" flex-c flie-select" id="add-edittext-flie">
                    <span class="emoji pointer margin-right"><i class="iconfont icon-biaoqing h4" style="color: #ffac1a;"></i><label class="h4">表情</label></span>
                    <span class="photo pointer " id="multifile"><i class="iconfont icon-tupian h4" style="color: #8cc413;"></i><label class="h4">图片</label></span>
                    <span class="flex-item"></span><button class="submit" lay-submit="" lay-filter="edit-info">发布</button>
                </div>
            </form>
        </div>
        <div class="layui-tab-item layui-show">
            <ul>
                {assign name="aid" value="$[aid]" /}
                {cms:commentlist id="comment" type="[type]" aid="$aid" pagesize="10"}
                <li class="list-item flex">

                    <div class="item-l ">
                        <div class="img-c news-array-img"> <img src="{$comment.user.avatar}"> </div>
                    </div>
                    <div class="flex-item   item-r ">
                        <div class="flex-c">
                            <h5 class="title">{$comment.user.nickname} :</h5>

                            <h5 class="ellipsis-line-3 ">{$comment.content}</h5>
                        </div>

                        <div class="flex-c  item-bottom  group list-item-action">
                            <span class="time flex-item">{$comment.createtime|human_date} </span>

                            <span class="flex-c-y "><i class="iconfont icon-buoumaotubiao16"></i><span>点赞</span></span>
                            <span class="flex-c-y"><i class="iconfont icon-pinglun-tianchong"></i><span>回复</span></span>
                        </div>

                        <ul class="flex-item   commentlistpanel-reply2 ">
                            <li class="flex">
                                <div class="item-l ">
                                    <div class="img-c small-img"> <img src="../../../img/hua.png"> </div>
                                </div>
                                <div class="flex-item">
                                    <div class="flex-c">
                                        <h5 class="title">我是题目 :</h5>
                                        <h5 class="ellipsis-line-3 ">你的</h5>
                                    </div>
                                    <div class="flex-c  item-bottom  group list-item-action">
                                        <span class="time flex-item">今天（2018年8月14日）</span>
                                        <span class="flex-c-y "><i class="iconfont icon-buoumaotubiao16"></i><span>点赞</span></span>
                                        <span class="flex-c-y"><i class="iconfont icon-pinglun-tianchong"></i><span>回复</span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </li>
                {/cms:commentlist}
            </ul>
        </div>
        <div class="layui-tab-item">内容2</div>
    </div>
</div>