<footer>

    <div class="footer-site flex  container ">
        <div class="f-left flex ">
            <dl class="flex-item">
                <dt>
                    <a href="#" class="h4">帮助中心</a></dt>
                <dd>
                    <a href="#">关于我们</a>
                </dd>
                <dd>
                    <a href="#">技术经济方案分享</a>
                </dd>
                <dd>
                    <a href="#">外包项目合作方案</a>
                </dd>

            </dl>
            <dl class="flex-item">
                <dt>
                    <a href="#" class="h4">关注我们</a></dt>
                <dd>
                    微博:
                    <a href="#">805650999@qq.com</a>
                </dd>
                <dd>
                    邮箱 :
                    <a href="#">
                        805650999@qq.com
                    </a>
                </dd>
                <dd>
                    qq :
                    <a href="#">
                        805650999
                    </a>
                </dd>
                <dd>联系微信号：
                    <a href="#">
                        lin_805650999
                    </a>
                </dd>
                <dd>github：
                    <a href="#">
                        zx13790954101
                    </a>
                </dd>
                <dd>合作电话：
                    <a href="#">
                        13790954101
                    </a>
                </dd>
            </dl>

        </div>
        <div class="f-right flex-r     flex-item ">
            <dl class=" ">
                <dt class="center">
                    <a href="#" class="h4">官方微信服务号</a></dt>
                <dd class="center">
                    <a href="#">
                        <div class="img-r wechat-code center">
                            <img src="__CDN__/assets/img/qrcode_wecaht.jpg" />
                        </div>
                    </a>
                </dd>
            </dl>
            <dl class=" ">
                <dt class="center">
                    <a href="#" class="h4">官方微信小程序</a></dt>
                <dd class="center">
                    <a href="#">
                        <div class="img-r wechat-code center">
                            <img src="__CDN__/assets/img/qrcode_wecaht.jpg" />
                        </div>
                    </a>
                </dd>
            </dl>

        </div>

    </div>

    <div class="footer-info   center container  margin-20 ">
        <span>© 2010- 2018 · All Rights Reserved ·
            <a href="http://www.linkben.com">连接基本</a>
        </span>
        <span> 粤ICP备15117005号-1 版权所有 © 广州连接基本信息科技有限公司</span>
    </div>

</footer>
